@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #F7EFE5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: #3B1E54;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
}

header {
    padding: 1rem;
}

.hero {
    font-size: 3rem;
    font-weight: bold;
}

.information {
    padding: 1rem;
}

form {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

.file-uploader {
    width: 380px;
    background-color: white;
    border-radius: 5px;
}

.uploader-header {
    display: flex;
    padding: 1.2rem;
    background-color: #3B1E54;
    color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}

.uploader-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.file-completed-status {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.file-list {
    list-style-type: none;
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    padding-top: 8px;
    padding-inline: 3px;
    background-color: #f3f6ff;
}

.file-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 35px);
    background-color: #fefefe;
    border: 1px solid #bdc3c7;
    border-left: 5px solid #5145ba;
    border-radius: 5px;
    padding: 0.4rem;
}


.file-image {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0.5rem 0;
}

.file-details {
    grid-row: 1/2;
    grid-column: 2/6;
    margin-left: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.file-size-container {
    grid-row: 2/3;
    grid-column: 2/6;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgb(206, 206, 206);
}

.file-name {
    font-size: 1rem;
    font-weight: 600;
}

.file-info {
    display: flex;
    gap: 5px;
}

.file-size {
    padding: 0.2rem;
}

.file-status {
    color: lime;
}

.file-info small {
    color: #5c5c5c;
    margin-top: 5px;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}

.cancel-button-container {
    grid-row: 1/3;
    grid-column: 6/7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-button {
    align-self: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 1px 5px;
    font-size: 1.4rem;
    border: 2px solid transparent;
}

.cancel-button:hover {
    color: red;
    border-radius: 5px;
    border: 2px solid red;
}

.file-upload-box {
    margin: 20px;
    border-radius: 5px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #b1add4;
    transition: all 0.2s ease;
}

.box-title {
    font-size: 1.05rem;
    font-weight: 500;
    color: #626161;
}

.file-browser-button {
    color: #5145ba;
    cursor: pointer;
}

.file-browser-button:hover {
    text-decoration: underline;
}


.active {
    border: 2px solid #5145ba;
    background-color: #f3f6ff;
}


.notify {
    background-color: #F1F8F4;
    border: 2px solid #50dc6c;
    width: 320px;
    height: 100px;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1rem;
    display: flex;
    font-weight: bold;
    align-items: center;
}


.passkey-label {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.4rem;
    font-weight: bold;
    background-color: #b1add4;
    border-radius: 5px;
}

.passkey {
    border-radius: 5px;
    width: 40%;
    height: 25px;
    padding: 0.4rem;
    background-color: white;
    border: 1px solid #3B1E54;
}

.upload {
    cursor: pointer;
    padding: 1rem;
    background-color: #3B1E54;
    color: white;
    width: 120px;
    align-self: center;
    border-radius: 5px;
}

.loading {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.loading-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000079;
    z-index: 10;
}

.notify-hide {
    display: none;
}

footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    background-color: #3B1E54;
    color: white;
}

@media only screen and (min-width: 600px) {
    .file-uploader {
        width: 550px;
    }


    header,
    .information {
        padding-inline: 3rem;
    }

    .passkey-label {
        width: 50%;
    }
}


@media only screen and (min-width: 1800px) {



    .file-uploader {
        width: 1000px;
    }

    .file-upload-box {
        min-height: 300px;
    }

    .file-item {

        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 50px);
        border-left: 10px solid #5145ba;

    }

    .file-details,
    .file-size-container {
        grid-column: 2/8;
    }

    .passkey-label {
        width: 30%;
    }

    .upload {
        align-self: flex-start;
    }

    .cancel-button-container {
        grid-column: 8/9;
    }


    header,
    .information {
        width: 60%;
        margin: auto;
    }


}